{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{.Values.name}}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{.Values.name}}
spec:
  ports:
  - name: http
    protocol: TCP
    port: {{.Values.httpPort}}
    targetPort: 3000
  selector:
    app: {{.Values.name}}
{{- end}}